:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-color: #FFFFFF;
    --black-color: #000000; 
    --shade-color: #2F303A;
    --nav-color: rgba(255, 255, 255, 0.6);
    --secondary-shade-color: #F5F4FA;
    --border-color: #ECECEC; 
    --subjects-border-color: #EEEEEE;
    --box-shadow-color: rgba(0, 0, 0, 0.25);
    --icons-color: #AFB1B8;

}
body { 
    color: var(--primary-text-color);
    background-color:#FFFFFF;
    font-family: Roboto, sans-serif;
}

.list { 
    padding: 0;
    margin: 0;

    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}
/*main-nav*/

.header { 
    border-bottom: 1px solid var(--border-color)

}

.header__container {
    display: flex;
    align-items: center;
}
.header__nav {
    display: flex;
}


/*logo*/

.logo { 
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--black-color);
    font-family: Raleway,sans-serif;
    font-size: 26px;
    font-weight: 1.2;
    text-decoration: none;
}

.logo:hover {
    color: var(--accent-color);
}

.logo--blue {
    color: var(--accent-color);
    font-family: Raleway, cursive 

}
.logo--blue:hover {
    color:  var(--black-color);
}

/*site nav*/
.site-nav {
  display: flex; 
  margin-left: 93px;  
  
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__item {
    position: relative;  
}

.site-nav__link { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.site-nav__link:hover, 
.site-nav__link:focus { 
    color: var(--accent-color);
}

.site-nav__link--current { 
    color: var(--accent-color);
    
} 
.site-nav__link--current::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

     display: block;
      
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;

} 

/*site-contacts*/

.site-contacts { 
    display: flex;
    margin-left: auto;
}

.site-contacts__item  {
    display: flex;
}
.site-contacts__item + .site-contacts__item { 
    margin-left: 40px;
}



.site-contacts__link { 
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover,
.site-contacts__link:focus { 
    color: var(--accent-color);
}


.site-contacts__envelope { 
    height: 10px;
    width: 16px;

}
.site-contacts__vector { 
    height: 16px;
    width: 10px;
}



.site-contacts__icons {  
   margin-right: 10px;
   fill: currentColor;
}


/*hero*/
.hero { 
   padding-top: 200px;
   padding-bottom: 280px;
   text-align: center;
   background-color: var(--shade-color);
    
}
.hero__overlay { 
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/Hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero__title { 
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
   
    color: var(--hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   
}
   
/*button*/

.button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    font-family: inherit;
    color: var(--hero-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: none;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.button:hover,
.button:focus {
background-color: #188CE8;
}

/*button-portfolio*/
.button-primary {
 border-radius: 4px;
 padding: 6px 22px;
 min-width: 67px;

 font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--secondary-shade-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  cursor: pointer;
  text-align: center;


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
    color: var(--hero-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px 0 var(--box-shadow-color);
}

/*section*/
.section { 
padding-top: 0px;
padding-bottom: 94px;
}

.section-title  { 
     margin-top: 0px;
     margin-bottom: 50px;

    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.section-items { 
    padding-top: 94px;
    padding-bottom: 94px;
} 
.section-bg {
    background-color: var(--secondary-shade-color);
    padding-top: 94px;
    padding-bottom: 94px;
    
}

/*features*/
.visually-hidden { 
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features  {
    display: flex;
} 

.features__item { 
width: 270px;
} 

.features__item:not(:last-child) { 
    margin-right: 30px;
} 


.features__title { 
    margin-top: 0px;
    margin-bottom: 10px;
    
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}


.features__text { 
    margin-top: 0;
    margin-bottom: 0;  
 
    font-size: 14px;
    line-height: 1.7;
}
.features__icons-container {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-shade-color);

    margin-bottom: 30px;
    padding: 25px 100px;
}

.features__icon  { 
    height: 70px;
    width: 70px;
}

/*our employments*/


.employments { 
    display: flex;
 
    
}
.employments__image  {
    display: block;
}

.employments__item { 
    display: block;
    position: relative;
    
}
.employments__item:not(:last-child) { 
    margin-right: 30px;
}

.employments__title  { 
   position: absolute;
   bottom: 0;
   left: 0;

    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--hero-color);
    background-color: rgba(47, 48, 58, 0.8);

    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    min-width: 370px;
    
}

/* our team*/

.team { 
    display: flex;
}

.team__item { 
    background-color: var(--hero-color);
    text-align: center;

    box-shadow: 0 4px 4px 0 var(--box-shadow-color);
}

.team__item:not(:last-child) { 
    margin-right: 30px;
}


.team__names {
    margin-top: 0;
    margin-bottom: 10px;

    color:var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
}


.team__position {
    margin-top: 0;
    margin-bottom: 16;
}
.team__img {
    display: block;
}
.team__background{
    padding: 30px 32px;
    background-color: var(--hero-color);
}

/*team-icons*/ 
.icons {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
   
}

.icons__background:not(:last-child) { 
    margin-right: 10px;  
}


.icons__link  { 
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: var(--icons-color);
   background-color: var(--hero-color);
   align-items: center;
   justify-content: center;
   
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__link--bg-grey {
    color: var(--hero-color);
    background-color: rgba(255, 255, 255, 0.1);
}


.icons__link:hover,
.icons__link:focus {
   background-color: var(--accent-color);
   color: var(--hero-color);
}

.icons__svg  {
    display: flex;
    width: 20px;
    height: 20px;
    fill: currentColor;  
}

.icons__svg:hover,
.icons__svg:focus {
    fill: var(--hero-color);
}

/*regular customers*/


.customers {
    display: flex;
}


.customers__item:not(:last-child) {
    margin-right: 30px;

}
.customers__link  {
    display: flex;
    height: 92px;
    width: 170px;

    border: 1px solid var(--icons-color);
    padding: 16px 32px;

    text-align: center;
    justify-content: center;
    fill: var(--icons-color);

    
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.customers__link:hover,
.customers__link:focus
{
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.customers__icon {
    height: 60px;
    width: 106px;
    color: currentColor;
}

.customers__icon:hover,
.customers__icon:focus {
    fill: var(--accent-color);
}



/*footer*/
.footer__container {
    display: flex;
    align-items: baseline;
}

.footer {
     padding-top: 60px;
     padding-bottom: 60px;

    background-color: var(--shade-color);
}

.logo--white {
    color: var(--hero-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo--white:hover {
    color: var(--accent-color);
}
  
.address {
    margin-top: 28px;
    margin-bottom: 0;
  font-style: normal;  
}

.address__navigation {
    color: var(--hero-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__navigation:hover,
.address__navigation:focus {
    color: var(--accent-color);
}

.address__titles {
    color: var(--nav-color);
    font-size: 14px;
    line-height: 1.7;
    background-color: var(--shade-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.address__titles:hover,
.address__titles:focus  {
    color: var(--accent-color);
}

.address__items:not(:last-child) {
    margin-top: 0;
    margin-bottom: 12px;
}

/*footer - social media*/

.join__text {
    margin-top: 0;
    margin-bottom: 20px;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--hero-color);
    text-transform: uppercase;

}
.join {
margin-left: 93px;
}


/*Підпишіться на розсилку*/

.subscription {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.subscription__title {
    margin-top: 0;
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--hero-color);

}

.subscription__form {
    display: flex;
    align-items: center;
}

.subscription__input {
   width: 358px;
   height: 50px;
   padding-left: 16px;
   margin-right: 12px;

   border: 1px solid #FFFFFF4D;
   border-radius: 4px;
   background-color: transparent;

   font-size: 16px;
   line-height: 1.25;
   color: var(--nav-color);
   outline: none;


}

.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;


    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscription__button:hover,
.subscription__button:focus {
    background-color: #188CE8
}

.subscription__icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    fill: var(--hero-color);
}

/*portfolio*/


/*portfolio-buttons*/
.filter {
    margin-top: 0;
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
   
}
.filter__item:not(:last-child) {
    margin-right: 8px;
}



/*subjects*/
.subjects-section {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.subjects {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
} 

.subjects__elements {
    width: calc (100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
} 

.subjects__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.subjects__link:hover,
.subjects__link:focus  {
    box-shadow: 0 4px 4px 0 var(--box-shadow-color);
} 
.subjects__img {
    display: block;  
} 

 .subjects__title {
   margin-top: 0;
   margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
}  
.subjects__text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
} 

.subjects__border {
    border-left: 1px solid var(--subjects-border-color);
    border-right: 1px solid var(--subjects-border-color);
    border-bottom: 1px solid var(--subjects-border-color);
    padding: 20px 24px;
  
} 

.subjects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    font-size: 18px;
    line-height: 1.6;
    color: var(--hero-color);
    margin-top: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

} 
.subjects__thumb {
    position: relative;
    overflow: hidden;
} 


.subjects__link:hover .subjects__overlay,
.subjects__link:focus .subjects__overlay {
    opacity: 1;
    transform: translateY(0);
} 

/*Modalne vikno*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.is-hidden {
    opacity: 0;
    pointer-events: none;

} 
.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
} 

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 521px;
    background-color: var(--hero-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
               0px 1px 1px rgba(0, 0, 0, 0.14),
               0px 1px 3px rgba(0, 0, 0, 0.12);


    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
} 

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--hero-color);
    fill: var(--black-color);
    border: 1px solid #0000001A;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 6px;
   justify-content: center;
   cursor: pointer;
   
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.button-close:hover,
.button-close:focus {
    fill: var(--accent-color);
} 

 .button-close__icon {
    width: 18px;
    height: 18px;
   align-items: center;
   
}  


.form {
    padding: 40px;
} 

.form__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);

    margin-top: 0;
    margin-bottom: 12px;
} 


.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.form__description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

} 

.form__input {
    height: 40px;
    border: 1px solid #21212133;
    border-radius: 4px;
    padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.form__input:hover,
.form__input:focus 
{
    cursor: pointer;
    border: 1px solid var(--accent-color);
    outline: none;
} 

.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
} 

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
fill: var(--accent-color);
} 

.form__comments {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 20px;
} 

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid #21212133;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
   
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.form-textarea:hover,
.form-textarea:focus {
    border: 1px solid var(--accent-color);
    outline: none;
} 


.checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);

    align-items: center;
} 

.checkbox__input {
    margin-right: 12px;
    appearance: none;
    position: absolute;
} 

.checkbox__icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    transform: translate(-50%);
   border-radius: 3px;
    fill: var(--hero-color);
    
    cursor: pointer;
} 

.checkbox__input:checked + .checkbox__icon {
    background-color: var(--accent-color);
    border: transparent;

} 

.checkbox__link {
    color: var(--accent-color);
    margin-left: 5px;
    text-decoration-skip-ink: none;
} 


.form__button {
display: block;
width: 200px;
height: 50px;
margin-left: auto;
margin-right: auto;

font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items: center;
letter-spacing: 0.06em;
color: var(--hero-color);
background-color: var(--accent-color);

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
cursor: pointer;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
           box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.form__button:hover,
.form__button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 