

.form {
    padding: 40px;
} 

.form__title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);

    margin-top: 0;
    margin-bottom: 12px;
} 


.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
} 

.form__description {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

} 

.form__input {
    height: 40px;
    border: 1px solid #21212133;
    border-radius: 4px;
    padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus 
{
    cursor: pointer;
    border: 1px solid var(--accent-color);
    outline: none;
} 
} 



.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 18px;
    height: 18px;

    .form__input:hover + &,
.form__input:focus + & {
fill: var(--accent-color);
} 
} 



.form__comments {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 20px;
} 

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid #21212133;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
   
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
} 
} 

