.address {
    margin-top: 28px;
    margin-bottom: 0;
  font-style: normal;  
}

.address__navigation {
    color: var(--hero-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}


.address__titles {
    color: var(--nav-color);
    font-size: 14px;
    line-height: 1.7;
    background-color: var(--shade-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus  {
    color: var(--accent-color);
}
  
}

.address__items:not(:last-child) {
    margin-top: 0;
    margin-bottom: 12px;
}