
/*modalne vikno*/

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--hero-color);
    fill: var(--black-color);
    border: 1px solid #0000001A;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 6px;
   justify-content: center;
   cursor: pointer;
   
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
    fill: var(--accent-color);
} 

} 



 .button-close__icon {
    width: 18px;
    height: 18px;
   align-items: center;
   
}  