/*team-icons*/ 
.icons {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
   
}

.icons__background:not(:last-child) { 
    margin-right: 10px;  
}


.icons__link  { 
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: var(--icons-color);
   background-color: var(--hero-color);
   align-items: center;
   justify-content: center;
   
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
   background-color: var(--accent-color);
   color: var(--hero-color);
}
}

.icons__link--bg-grey {
    color: var(--hero-color);
    background-color: rgba(255, 255, 255, 0.1);
}


.icons__svg  {
    display: flex;
    width: 20px;
    height: 20px;
    fill: currentColor;  

    &:hover,
    &:focus {
    fill: var(--hero-color);
}
}


