/*footer - social media*/

.join {
    margin-left: 93px;
    }

.join__text {
    margin-top: 0;
    margin-bottom: 20px;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--hero-color);
    text-transform: uppercase;

}
