/*footer - social media*/

.join {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

   
    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-top: 0;
    margin-bottom: 0;
}
    }

.join__text {
    margin-top: 0;
    margin-bottom: 20px;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--hero-color);
    text-transform: uppercase;

}
