
.logo { 
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--black-color);
    font-family: Raleway,sans-serif;
    font-size: 26px;
    font-weight: 1.2;
    text-decoration: none;

    &:hover {
        color: var(--accent-color);
    }

}


.logo--blue {
    color: var(--accent-color);
    font-family: Raleway, cursive; 


    &:hover {
        color:  var(--black-color);
    }  

}
/*footer logo*/
.logo--white {
    color: var(--hero-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    &:hover {
        color: var(--accent-color);
    }
}

