.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 521px;
    background-color: var(--hero-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
               0px 1px 1px rgba(0, 0, 0, 0.14),
               0px 1px 3px rgba(0, 0, 0, 0.12);


    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
} 