/*Підпишіться на розсилку*/

.subscription {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.subscription__title {
    margin-top: 0;
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--hero-color);

}

.subscription__form {
    display: flex;
    align-items: center;
}

.subscription__input {
   width: 358px;
   height: 50px;
   padding-left: 16px;
   margin-right: 12px;

   border: 1px solid #FFFFFF4D;
   border-radius: 4px;
   background-color: transparent;

   font-size: 16px;
   line-height: 1.25;
   color: var(--nav-color);
   outline: none;


}

.subscription__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;


    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    background-color: var(--accent-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    background-color: #188CE8
}

}


.subscription__icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    fill: var(--hero-color);
}